h1{
	text-align: center;
}
body{
	width:80%;
	padding-left: 5%
}
h3{
	padding-left:  50%;
}

#show_ditu{
	width: 100%;
	height:800px;
}
#show_R{
	width: 100%;
	height:1000px;
}
p{
	font-size: 150%;
}

#wrapper {
	top: 53%;
	bottom: 48px;
	left: 0;
	width: 100%;
	height:10%;
	overflow: hidden;
}

#scroller {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 150%;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#scroller li {
	display: block;
	float: left;
	width: 15%;
	height: 100%;
	border-right: 1px solid #ccc;
	background-color: #fafafa;
	font-size: 130%;
	line-height:300%;
	border-radius:3%;
	-webkit-border-radius:3%;
	-moz-border-radius :3%;
}
button{
	 background-color: #33CCFF;
	 color: #fff;
	 border: none;
	 height:10%;
	 width: 10%;
	 border-radius:3%;
	 -webkit-border-radius:3%;
	 -moz-border-radius :3%;
	 float: left
}
#load_ready{
	float: left;
}